/* ==========================
   ASHFIT DESIGN SYSTEM
========================== */

:root {
  --bg: #000000;/*#0f1115*/
  --surface: #161c26;
  --surface2: #1e2633;
  --card: #1a1f29;
  --card-hover: #242b38;
  --accent: #38bdf8;
  --text: #f5f7fa;
  /*--text:#F8FAFC;*/
  --muted: #94a3b8;
  --text-secondary: #b8c0cc;
  --calories: #ffb347;
  --protein: #36d399;
  --border: #2b3444;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
  --radius: 22px;
}

/*body {
  font-family: Inter, Arial, sans-serif;

  background: var(--bg);

  color: var(--text);

  max-width: 500px;

  margin: auto;

  padding: 18px;

  line-height: 1.5;
}*/

body {
  margin: 0;

  padding: 20px;

  background: var(--bg);

  color: var(--text);

  font-family: "Sora", sans-serif;
}

h2,
h3 {
  margin-top: 28px;

  margin-bottom: 14px;

  font-weight: 700;

  letter-spacing: 0.3px;
}

#stats {
  background: var(--card);

  border: 1px solid var(--border);

  border-radius: var(--radius);

  padding: 20px;

  margin-bottom: 24px;

  box-shadow: var(--shadow);
}

#input {
  width: 80%;
  padding: 16px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background: var(--card);

  color: var(--text);

  border: 1px solid var(--border);

  border-radius: 14px;

  padding: 14px 18px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition:
    background 0.2s,
    transform 0.15s,
    border-color 0.2s;
}

button:hover {
  background: var(--card-hover);

  border-color: var(--accent);
}

button:active {
  transform: scale(0.97);
}

.suggestions {
  margin-bottom: 12px;
}

.suggestion {
  background: #1e1e1e;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

.item {
  background: #1a1a1a;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.food-card {
  background: #1a1a1a;

  padding: 14px;

  border-radius: 14px;

  margin-bottom: 12px;
}

.food-header {
  display: flex;

  align-items: center;

  gap: 10px;

  font-size: 20px;
}

.food-header svg {
  width: 24px;

  height: 24px;
}

.food-category {
  margin-top: 8px;

  font-size: 14px;

  opacity: 0.7;
}

.food-info {
  margin-top: 8px;
}

.food-actions {
  margin-top: 10px;
}

/* ===== MOBILE-FIRST SCALING ===== */

body {
  font-size: 18px;
  padding: 12px;
}

input,
select {
  background: var(--card);

  color: var(--text);

  border: 1px solid var(--border);

  border-radius: 14px;

  padding: 14px;

  font-size: 16px;

  width: 100%;

  box-sizing: border-box;

  margin-bottom: 12px;
}

button {
  font-size: 18px;
  padding: 12px;
  margin-top: 6px;
  /*margin-bottom: 6px;*/
  /*margin-left: 0px;*/
  width: 50%;
}

h1,
h2,
h3 {
  font-size: 22px;
}

.item {
  /*background: var(--card);
  border: 1px solid var(--border);*/
  background: black;
  border: 2px solid rgba(255, 255, 255, 0.08);

  border-radius: 16px;

  padding: 16px;

  margin-bottom: 14px;

  box-shadow: var(--shadow);
}

#libraryScreen {
  display: none;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.version {
  font-size: 0.85rem;
  color: #666;
}

/* ==========================
   FAVORITES BAR
========================== */

#favoritesBar {
  display: flex;

  gap: 12px;

  overflow-x: auto;

  padding: 10px 0 18px;

  scrollbar-width: none;
}

#favoritesBar::-webkit-scrollbar {
  display: none;
}

#favoritesBar button {
  flex: 0 0 auto;

  border: none;

  border-radius: 12px;

  padding: 10px 16px;

  cursor: pointer;

  font-weight: bold;
}

#frequentBar {
  display: flex;

  gap: 12px;

  overflow-x: auto;

  padding: 10px 0 20px;

  scrollbar-width: none;
}

#frequentBar::-webkit-scrollbar {
  display: none;
}

.log {
  margin-top: 20px;
}

/* ==========================
   DASHBOARD
========================== */

#trackerScreen{
    padding-bottom:100px;
}
#stats {
  display: flex;

  gap: 16px;
}

.statCard {
  flex: 1;

  background: var(--card);

  border: 1px solid var(--border);

  border-radius: 20px;

  padding: 20px;

  text-align: center;
}

.statLabel {
  color: var(--text-secondary);

  font-size: 0.9rem;
}

.statValue {
  font-size: 2.3rem;

  font-weight: 700;

  margin: 8px 0;
}

.statUnit {
  color: var(--accent);

  font-weight: 600;
}

/* ==========================
   ACTION CHIPS
========================== */

#favoritesBar button,
#frequentBar button {
  width: auto;

  white-space: nowrap;

  padding: 12px 18px;

  border-radius: 999px;

  background: var(--card);

  border: 1px solid var(--border);

  color: var(--text);

  font-weight: 600;

  transition: all 0.2s ease;

  box-shadow: var(--shadow);
}

#favoritesBar button:hover,
#frequentBar button:hover {
  transform: translateY(-2px);

  border-color: var(--accent);
}

#favoritesBar button:active,
#frequentBar button:active {
  transform: scale(0.96);
}

.dashboardHeader {
  margin-bottom: 32px;
}

#greetingText {
  font-size: 18px;

  color: var(--muted);

  font-weight: 500;
}

#userName {
  font-size: 38px;

  font-weight: 700;

  margin-top: 4px;

  letter-spacing: -1px;
}

#dailyMessage {
  margin-top: 12px;

  color: var(--muted);

  font-size: 15px;

  line-height: 1.5;
}

/*ORB DETAILS*/
/*===========*/

/*Scaling/Breating Animation*/
@keyframes breathe
{
0%{transform:scale(1);}
50%{transform:scale(1.025);}
100%{transform:scale(1);}
}

/*The title/Heading for the ORB*/
.orbCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.orbTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--muted);
  margin-bottom: 2px;
}

/*======================*/
/*Main Orb design, balck SVG sircle, Position etc*/
.orb {
  position: relative;
  width: 220px;
  height: 220px;
  animation:breathe 4s ease-in-out infinite;
}

.orb svg {
  position: relative;
  inset: 0;
  transform: rotate(-90deg);
  z-index: 1;
}

/*Progress ring default grey color*/
.orbBackground {
  fill: none;
  stroke: #232c39;
  stroke-width: 16;
}
/*=====================================*/

/*MAIN OUTER RING*/
/*The Outer progress ring, made by punching out middle*/
/*from a basic circle and only having a stroke*/
.orbProgress {
  fill: none;
  /*stroke: url(#calorieGradient);*/
  stroke-width: 16;
  stroke-linecap: round;
  stroke-dasharray: 565;
  stroke-dashoffset: 565;
  transition: stroke-dashoffset .8s cubic-bezier(.22,1,.36,1);
  /*transition: stroke-dashoffset 1s ease;*/
  /*filter: drop-shadow(0 0 6px rgba(255, 180, 71, 0.5))
    drop-shadow(0 0 14px rgba(255, 180, 71, 0.25));*/
}

/*Orange Protein dropshadow/outer glow
.orbProgress.calorie {
  filter: drop-shadow(0 0 12px rgba(255, 154, 60, 0.7));
}
/*Blue Protein dropshadow
.orbProgress.protein {
  filter: drop-shadow(0 0 12px rgba(45, 140, 255, 0.7));
} 
*/
/*Don't actually know why this is here*/
.orbCenter {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/*The complete container which decides the placement*/
/*and position of both orbs realtive to each other*/
.orbContainer {
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  margin: 30px 0; /*top margin*/
}

/*The glass element of the orb, GLASSmorphism*/
.orbGlass {
  position: absolute;
  /*top: 28.5px;
  left: 28.5px;
  width: 161px;
  height: 161px;*/
  top: 50%;
  left: 50%;
  width: 73%;
  height: 73%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05) 40%,
    rgba(255, 255, 255, 0.02) 65%,
    rgba(255, 255, 255, 0.01)
  );
  /*
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255,255,255,.22),
    rgba(255,255,255,.08) 45%,
    rgba(255,255,255,.03) 75%,
    transparent
  );
  */
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  box-shadow:
    inset 0 2px 6px rgba(255, 255, 255, 0.08),
    inset 0 -8px 18px rgba(0, 0, 0, 0.35),
    0 12px 30px rgba(0, 0, 0, 0.35);
  z-index: 2;
}

/*Orb underglow*/
.orbGlow {
  position: absolute;
  bottom: 0px;
  left: 20px;
  inset: 1;
  border-radius: 100%;
  filter: blur(10px);
  width: 110px;
  height: 110px;
}

.orb.calorie .orbGlow {
  background: radial-gradient(
    circle,
    rgba(255, 154, 60, 0.45),
    transparent 70%
  );
}

.orb.protein .orbGlow {
  background: radial-gradient(
    circle,
    rgba(45, 140, 255, 0.45),
    transparent 70%
  );
}

/*The CALORIE VALUES START*/

#calorieRemaining {
  font-size: 48px; /*actual remianing calories font size*/
  font-weight: 700;
  letter-spacing:-2px;
  line-height:1;
}

/*The PROTEIN VALUES START*/

#proteinRemaining {
  font-size: 48px; /*actual remianing protein font size*/
  font-weight: 700;
  letter-spacing:-2px;
  line-height:1;
}

/*
#calorieStats {
  margin-top: 18px;
  color: var(--muted);
}*/

/*#calorieRemaining,
.orbUnit 
{
  position: relative;
  z-index: 5;
}*/

/*.orbUnit {
  color: var(--muted);
  margin-top: 6px;
}*/

/*underglow for protein orb */
/*.orb::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 22px;
  transform: translateX(-50%);
  width: 110px;
  height: 26px;
  border-radius: 50%;
  background: rgba(255, 181, 71, 0.836);
  filter: blur(20px);
  z-index: -1;
}*/

/*QUICK ADD
*/
.quickAddCard{
 margin-top:30px;
}

.sectionTitle{
  font-size:20px;
  font-weight:600;
  margin-bottom:14px;
  letter-spacing:-1px;
  line-height:1;
}

#quickAddBar{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

.quickAddPill{
  padding:12px 18px;
  border:none;
  border-radius:999px;
  background:#000000;
  border: 2px solid rgba(255, 255, 255, 0.08);
  /*background:#20242d;
  background: radial-gradient(
    circle at 30% 80%,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05) 40%,
    rgba(255, 255, 255, 0.02) 65%,
    rgba(255, 255, 255, 0.01)
  );
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
    box-shadow:
    inset 0 2px 6px rgba(255, 255, 255, 0.08),
    inset 0 -8px 18px rgba(0, 0, 0, 0.35),
    0 12px 30px rgba(0, 0, 0, 0.35);
  */
  color:white;
  cursor:pointer;
  transition:.25s;
  font-size:15px;
}

/*TOGGLE TODAYS LOG
*/
.logCard{
  margin-top:28px;
}
/*TOGGLE LOG BUTTON AND TEXT*/
.logToggle{
  width:100%;
  border:none;
  border-radius:18px;
  padding:16px;
  font-size:16px;
  font-weight:600;
  border: 2px solid rgba(255, 255, 255, 0.08);
  /*
    background: radial-gradient(
    circle at 30% 80%,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05) 40%,
    rgba(255, 255, 255, 0.02) 65%,
    rgba(255, 255, 255, 0.01)
  );
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
    box-shadow:
    inset 0 2px 6px rgba(255, 255, 255, 0.08),
    inset 0 -8px 18px rgba(0, 0, 0, 0.35),
    0 12px 30px rgba(0, 0, 0, 0.35);
  */
  color:white;
  cursor:pointer;
  transition:.25s;
}
.logToggle:hover{
  background:#262b35;
}
/*
/*FAB - Floating Action Button
.fab{
    position:fixed;
    right:24px;
    bottom:24px;
    width:64px;
    height:64px;
    border-radius:50%;
    border:none;
    background:linear-gradient(
        135deg,
        #ffb347,
        #ff8c42
    );
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    box-shadow:
        0 12px 30px rgba(255,140,66,.35);
    transition:
        transform .25s,
        box-shadow .25s;
    font-size:42px;
    font-weight:300;
    line-height:1;
    z-index:999;
}
/*ICON
.fab svg{
    width:30px;
    height:30px;
    color:white;
}
.fab:hover{
  transform:
    translateY(-3px)
    scale(1.05);
  box-shadow:
    0 18px 40px rgba(255,140,66,.45);
}
.fab:active{
  transform:scale(.94);
}
*/
/*BOTTOM NAV*/
.bottomNav{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height:75px;
    background:rgba(0, 0, 0, 0.168);
    backdrop-filter:blur(20px);
    border-top:1px solid rgba(255,255,255,.06);
    display:flex;
    justify-content:space-around;
    align-items:center;
    z-index:1000;
    padding-bottom:env(safe-area-inset-bottom);
}
.navItem{
    flex:1;
    height:100%;
    border:none;
    background:none;
    color:#8b92a0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2px;
    transition:.25s;
}
/*NAV button size*/
.navItem span {
    color:inherit;
    font-size:20px;
}
/*TEXT for NAV*/
.navItem small {
    color:inherit;
    font-size:10px;
    font-weight:500;
}
.navItem.active {
    color:white;
}
/*The small pill surrounding the BNav Icon*/
.navItem.active span{
    background:rgba(255,255,255,.08);
    height:35px;
    width:30px;
    padding:10px;
    border-radius:20px;
}
.navAdd{
    flex:1;
    height:100%;
    border:none;
    background:none;
    color:#FFD36E;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    transition:.25s;
}
/*Override for BNav buttons and hover*/
.bottomNav button{
    background:none;
    border:none;
}
.bottomNav button:hover{
    background:transparent;
}
/*Hover only for the icons and text*/
.navItem:hover{
    color:white;
}

/*Activity card*/
.activityCard{
    background:#000000;
    border-radius:22px;
    padding:20px;
    margin:24px 0;
    border:2px solid rgba(255, 255, 255, 0.08);
}
.activityHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:16px;
}
/*Toggle/View Log Button and TEXT */
.activityExpand{
    border:none;
    color:#ffffff;
    background:#000000;
    border: 2px solid rgba(255, 255, 255, 0.08);
    color:white;
    cursor:pointer;
    font-size:14px;
}
#lastEntry{
    margin-bottom:18px;
}
.activityActions{
    margin-bottom:16px;
}
/*UNDO button in Todys activity*/
.secondaryButton{
    padding:10px 18px;
    border-radius:12px;
    border:none;
    background:#000000;
    border: 2px solid rgba(255, 255, 255, 0.08);
    color:white;
    cursor:pointer;
}
/*QUANTITY SELECTOR*/
.quantityControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.quantityControls button {
    width: 100px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}
.quantityControls input {
    width: 200px;
    height: 50px;
    background: #000000;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#quantitySelector {
    padding-bottom: 120px;
}